@import "variables"


// Main content
.content
  padding-top: 20px
  padding-bottom: 40px


// bottom-label
.bottom-label
  position: fixed
  bottom: 0
  left: 0
  background: $grey-color-light
  padding: 1px 4px 1px 2px
  border-radius: 0 4px 0 0
  z-index: 1000
  color: $grey-color-dark
  font-size: 12px
  *
    margin: 0
    padding: 0


// List of files/directories
.listing li
  margin-bottom: 10px


// List of files/directories
.listing a
  padding: 4px 20px
  border: 1px solid $grey-color-light
  border-radius: 4px
  cursor: pointer
  display: block

.listing a:hover
  background: $grey-color-light


// settings
.settings-container > div
  padding-bottom: 40px
  display: block


// plugins
.plugins li
  display: block
  padding: 8px
  margin-bottom: 4px
  border: 1px solid $grey-color-light


// plugin image
.plugin-img
  height: 64px
  width: 64px
