header
  include ./navigation.jade 


// A notification box
div.top-center
  div.alert.alert-flush.bounceIn(class="alert-{{ alert._class }}",
    data-ng-show="alert.visible")
    | {{ alert.message }}


section.container
  // custom content
  block content
