// Page Navigation
nav.navbar.navbar-default.navbar-main(role="navigation")
  div.container-fluid

    // navbar-header
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse",
        data-target="#navbar-collapse-1")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/#/") Docvy

    // navbar-content
    div#navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown.recent(data-ng-controller="RecentFilesCtrl")
          a.dropdown-toggle(data-toggle="dropdown")
            i.fa.fa-clock-o
          ul.dropdown-menu
            li.recent-none(data-ng-hide="recentfiles.length")
              p No Recent Files Found 
            li(data-ng-repeat="file in recentfiles | limitTo: 10")
              a(data-ng-click="readfile(file.url)", href="") {{ file.name }}
      ul.nav.navbar-nav.navbar-right
        if ! web
          li
            a(href="/#/server")
              i.fa.fa-cog
        li
          a(href="/#/meta")
            i.fa.fa-info
        if ! web
          li.online-status(data-ng-controller="connectionCtrl")
            a(href="", data-ng-click="toggle()")
              span(
              data-ng-mouseleave="label = status.online ? 'online' : 'offline' ",
              data-ng-mouseover="label = status.online ? 'go offline' : 'go online' ",
              data-ng-init="label = status.online ? 'online' : 'offline' ").status
                | {{ label | uppercase }}
